<turbo-frame id="email1">
<% @emails.each do |email|%>
<tr>
  <th scope="row"><%= email.id%></th>
  <td><%= email.object%></td>
  <td><%= email.body%></td>
  <td>blank</td>
 </tr>
<%end%>
</turbo-frame>
