<h1>Emails#index</h1>
<p>Find me in app/views/emails/index.html.erb</p>
<div class="container mail-container border">
  <div class="mail-headers row border d-flex p-3">
    <h4>THPmail</h4>
    <%= button_to "Recevoir un email", { action: "create" }, class: "btn btn-primary btn-refresh"  %>
    <h2>
      Messages
      <turbo-frame id='email_counter'>
        <%= Email.count %>
      </turbo-frame>
    </h2>
  </div>
  <div class="mail-content row">
    <div class="mail-list col-4">
      <h2>Incoming Emails</h2>
      <ul>
        <%= turbo_frame_tag "refresh_email"%>
        <% @emails.each do |email|%>
          <%= render partial: 'emailsindex', locals: { email: email } %>
        <%end%>
      </ul>
    </div>
    <div class="border col-8" id="mail-display">
      <turbo-frame id='email_turbo'>
      </turbo-frame>
    </div>
  </div>
